.auth {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: $sidebar-bg;
  }

  &__box {
    width: 100%;
    max-width: 480px;
    padding: 32px;

    background-color: $box-bg;

    border-radius: 5px;

    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }

  &__header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__server {
    margin-bottom: 40px;

    &-subtitle {
      text-align: center;
      margin-bottom: 8px;
    }

    &-info {
      display: flex;
      justify-content: center;
    }

    &-members {
      display: flex;
      justify-content: center;

      margin-top: 4px;
    }

    &-member {
      width: auto;
      padding: 5px 16px 4px;
      margin-right: 8px;

      display: flex;
      align-items: center;

      border-radius: 100px;
      background-color: $sidebar-bg;

      &:last-child {
        margin-right: 0;
      }
    }

    &-text {
      font-size: 1.4rem;
      line-height: 2rem;
      white-space: nowrap;

      color: $header-secondary;
    }

    &-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 4px;

      &_online {
        background-color: #43b581;
      }

      &_offline {
        background-color: $header-secondary;
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 600;

    color: $header-primary;

    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;

    color: $header-secondary;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 4px;

    color: $text-subtext;
  }

  &__link {
    font-size: 1.3333rem;
    line-height: 1.6rem;

    text-decoration: none;
    color: $lilac-light;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $lilac-light;
    }
  }

  &__input {
    margin-bottom: 20px;
  }

  &__footer {
    margin-top: 4px;
  }
}
