.button {
  $self: &;
  width: 100%;
  height: 44px;
  font-size: 1.6rem;
  line-height: 2.4rem;

  position: relative;

  margin-bottom: 8px;

  background-color: $lilac-light;
  color: $text-btn;

  border: none;
  outline: 0;
  border-radius: 3px;

  cursor: pointer;
  user-select: none;

  transition: background-color 0.15s linear;

  &:hover {
    background-color: $lilac;
  }

  &:active {
    background-color: $lilac-dark;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__loading {
    pointer-events: none;
    cursor: not-allowed;

    #{ $self }__content {
      visibility: hidden;
    }
  }

  &__content {
    visibility: visible;
  }
}

.dot-flashing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  &__item {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: $white;
    color: $white;
    animation: spinner-pulsing-ellipsis 1.4s ease-in-out infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      margin-right: 0;
      animation-delay: 0.4s;
    }
  }
}

@keyframes spinner-pulsing-ellipsis {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
