.channels {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 100%;
  max-width: 240px;

  background-color: $sidebar-secondary-bg;

  color: $text-channel;

  position: relative;

  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;

    flex-shrink: 0;

    box-shadow: $elevation-down;
  }

  &__title {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fff;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__wrapper {
    height: 100%;

    overflow-y: scroll;

    padding-right: 8px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border: 2px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box;
      outline: 0;
    }
  }

  &__group {
    $self: &;
    height: 24px;
    display: flex;
    align-items: center;

    margin-top: 16px;

    cursor: pointer;

    &-name {
      font-size: 1.2rem;
      line-height: 1.6rem;

      text-transform: uppercase;
      padding: 0 8px;
      margin-bottom: 4px;
      margin-left: 8px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      transition: color 0.1s linear;
    }
  }

  &__add {
    $self: &;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: 0;

    margin-left: auto;

    cursor: pointer;

    &-icon {
      display: block;
      color: $text-channel;
      transition: color 0.1s linear;
    }

    &:hover {
      #{ $self }-icon {
        color: $text-normal;
      }
    }
  }

  &__item {
    padding: 6px 8px;
    margin: 1px 8px;
    display: flex;
    align-items: center;

    border-radius: 4px;
    background-color: transparent;

    cursor: pointer;

    user-select: none;

    text-decoration: none;
    color: $text-channel;

    &:hover {
      background-color: $channel-hover;
      color: #dcddde;
    }

    &.selected {
      background-color: $channel-selected;
      color: $white;
    }
  }

  &__icon {
    flex-shrink: 0;
    display: block;
    margin-right: 10px;
    color: $text-channel;
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 4px;

    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
  }

  &__member {
    display: flex;
    align-items: center;

    padding-left: 36px;
    padding-bottom: 8px;

    margin-top: 1px;
    margin-bottom: 1px;

    &-avatar {
      display: block;
      width: 24px;
      height: 24px;

      overflow: hidden;

      border-radius: 50%;

      margin: 3px 8px;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-name {
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 500;

      color: $text-channel;
    }
  }
}
