.header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8px;

  background-color: $box-bg;
  box-shadow: $elevation-down;

  overflow: hidden;

  position: relative;
  z-index: 1;

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    overflow: hidden;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;

      background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, $box-bg);
    }
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    color: $text-channel;
    margin: 0 8px;
  }

  &__title {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    color: $white;

    width: auto;

    white-space: nowrap;
    overflow: hidden;

    margin-bottom: 3px;
  }

  &__tool {
    $self: &;
    @extend %icon-button;
    width: 24px;
    height: 24px;
    margin: 0 8px;

    cursor: pointer;

    transition: color 0.1s linear;

    &-icon {
      @extend .header__icon;
      margin: 0;

      transition: color 0.1s linear;
    }

    &:hover {
      #{ $self }-icon {
        color: $text-normal;
      }
    }

    &.active {
      #{ $self }-icon {
        color: $white;
      }
    }
  }
}
