.home {
  width: 100%;
  display: flex;

  overflow: hidden;

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    height: calc(100vh - 48px);
    display: flex;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
