.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: $loader-bg;

  position: fixed;
  z-index: 9999;

  &__container {
    text-align: center;
  }

  &__video {
    width: 200px;
    height: 200px;
  }

  &__text {
    color: $text-normal;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
