.members {
  display: block;
  width: 100%;
  max-width: 240px;
  flex-shrink: 0;

  height: calc(100vh - 48px);

  background-color: $sidebar-secondary-bg;

  overflow: hidden auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
    outline: 0;
  }

  &__online,
  &__offline {
    display: block;
    margin-right: 8px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $text-channel;

    padding: 24px 8px 0 16px;

    text-transform: uppercase;
  }

  &__item {
    height: 42px;
    padding: 1px 8px;
    margin-left: 8px;

    transition: background-color 0.1s linear;

    cursor: pointer;

    &:hover {
      background-color: $user-hover;
      border-radius: 4px;
    }

    &_offline {
      opacity: 0.3;

      transition: opacity 0.1s linear;

      &:hover {
        opacity: 1;
      }
    }
  }

  &_name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
  }
}
