.messages {
  display: flex;

  position: relative;
  width: 100%;
  height: 100%;

  background-color: $box-bg;

  padding-right: 30px;

  overflow: hidden scroll;

  z-index: 0;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-bg;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 10px;
    outline: 0;
    border: 4px solid transparent;
    background-clip: padding-box;
  }

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
  }

  &__item {
    padding: 2px 48px 2px 80px;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  &__greeting {
    display: block;
    width: 100%;
    margin: 16px;
    margin-top: auto;
    padding-bottom: 16px;

    border-bottom: 1px solid $delimiter;

    &.empty {
      text-align: center;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;

      border-radius: 50%;
      background-color: $text-chat-icon-bg;

      margin-top: 16px;

      color: $white;
    }
  }

  &__title {
    display: block;
    // max-width: 400px;
    // margin: 0 auto;
    margin: 8px 0;

    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;

    color: $header-primary;
  }

  &__subtitle {
    display: block;
    margin-top: 8px;

    font-size: 1.4rem;
    line-height: 1.8rem;

    color: $header-secondary;
  }

  &__info {
    display: inline-block;

    word-wrap: break-word;
    text-indent: -50px;
  }

  &__time {
    display: inline-block;
    width: 26px;
    margin-right: 6px;

    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $text-subtext;

    text-align: right;
  }

  &__author {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;

    margin-right: 4px;
    color: $white;
  }

  &__text {
    display: inline;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    word-wrap: break-word;
    white-space: break-spaces;

    color: $text-normal;
  }
}
