.modal {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 9999;

  background-color: rgba($color: $black, $alpha: 0.85);

  &__container {
    max-width: 440px;
    width: 100%;

    background-color: $box-bg;

    border-radius: 5px;
    overflow: hidden;
  }

  &__header {
    margin: 16px 0;
    padding: 16px;

    position: relative;

    text-align: center;

    user-select: none;
  }

  &__img {
    width: 100%;
    max-width: 186px;
    height: auto;

    pointer-events: none;
    text-indent: -9999px;

    margin-bottom: 8px;
  }

  &__title {
    font-size: 24px;
    line-height: 3rem;
    font-weight: 700;

    color: $white;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;

    color: $header-secondary;

    margin-top: 8px;
  }

  &__content {
    padding: 16px;
  }

  &__example {
    padding: 0 16px 16px;
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;

    color: $header-secondary;
  }

  &__footer {
    background-color: $sidebar-secondary-bg;
    text-align: right;

    padding: 16px;

    border: 0;
  }

  &__button {
    $self: &;
    display: inline-block;
    width: auto;
    height: 38px;
    padding: 2px 16px;

    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;

    margin-bottom: 0;

    &_outline {
      width: 96px;
      background-color: transparent;

      &:hover {
        background-color: transparent;

        #{$self}-content {
          text-decoration: underline;
        }
      }
    }
  }

  &__close {
    $self: &;
    position: absolute;
    top: -4px;
    right: 8px;
    padding: 4px;

    overflow: hidden;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &-icon {
      color: $text-normal;
      opacity: 0.5;

      transition: opacity 0.1s linear;
    }

    &:hover {
      #{ $self }-icon {
        opacity: 1;
      }
    }
  }
}
