.not-found-servers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $box-bg;

  user-select: none;

  &__title {
    text-align: center;
    display: block;
    max-width: 800px;
    margin: 0 auto;

    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;

    color: $header-primary;
  }
}
