.person {
  display: flex;
  align-items: center;

  padding: 0 8px;

  &__avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;

    margin-right: 8px;

    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__name {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    color: #fff;
  }

  &__code {
    font-size: 1.2rem;
    color: $header-secondary;
  }
}
