.servers {
  width: 100%;
  flex-shrink: 0;
  max-width: 72px;
  height: 100vh;
  padding-top: 10px;

  position: relative;

  overflow: hidden auto;

  background-color: $sidebar-bg;

  &__items {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    list-style: none;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__avatar {
    display: flex;
    width: 48px;
    height: 48px;

    overflow: hidden;

    border-radius: 50%;

    transition: border-radius 0.1s linear;

    text-decoration: none;

    background-color: $box-bg;

    &:hover {
      border-radius: 15px;
    }

    &.selected {
      border-radius: 15px;
    }

    cursor: pointer;

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__add {
    $self: &;
    @extend .servers__avatar;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-radius background-color 0.1s linear;

    &-icon {
      color: $btn-add;

      transition: color 0.1s linear;
    }

    &:hover {
      background-color: $btn-add;

      #{ $self }-icon {
        color: $white;
      }
    }
  }
}
