.text-field {
  &__input {
    width: 100%;
    height: 40px;
    padding: 10px;

    font-size: 1.6rem;
    color: $text-normal;

    background-color: $text-input-bg;

    border: 1px solid $text-input-border;
    border-radius: 3px;
    outline: 0;

    transition: border-color 0.15s linear;

    &:hover {
      border-color: $text-input-border-hover;
    }

    &:focus {
      border-color: $lilac-light;
    }

    &.error {
      border-color: $error;
    }
  }

  &__wrapper {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    min-height: 68px;
    padding: 16px;
    padding-top: 0;

    background-color: $box-bg;

    overflow: hidden;
  }

  &__textarea {
    width: 100%;
    height: initial;
    padding: 13px 20px;

    font: 1.6rem/2.2rem -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;

    background-color: $channeltextarea-background;
    color: $text-normal;

    resize: none;

    border-radius: 8px;
    border: none;
    outline: 0;

    // for Firefox
    overflow-x: hidden;

    caret-color: $text-normal;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border: 4px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar;
      border-radius: 10px;
      border: 4px solid transparent;
      background-clip: padding-box;
      outline: 0;
    }
  }

  &__label {
    display: inline-block;

    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;

    color: $text-normal;

    margin-bottom: 8px;

    &.error {
      color: $error;
    }
  }

  &__error {
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
  }
}
