.user {
  $self: &;
  width: 100%;
  height: auto;

  background-color: $sidebar-bg-alt;
  margin-top: auto;

  &__voice {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    padding: 8px;

    border-bottom: 1px solid $background-modifier-accent;
  }

  &__connect {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &-status {
      font-size: 1.3rem;
      line-height: 1.6rem;
      font-weight: 600;
      color: $btn-add;

      margin-bottom: 4px;
    }

    &-info {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      color: $header-secondary;

      font-size: 12px;
      line-height: 13px;
    }
  }

  &__wrapper {
    height: 52px;
  }

  &__tools {
    margin-left: auto;
    display: flex;
  }

  &__tool {
    @extend %icon-button;

    width: 32px;
    height: 32px;
    border-radius: 4px;

    transition: background-color 0.1s linear;

    cursor: pointer;

    &:hover {
      background-color: $channel-selected;

      #{ $self }__icon {
        color: #fff;
      }
    }
  }

  &__icon {
    color: $text-channel;

    transition: color 0.1s linear;
  }
}
