$white: #fff;
$black: #000;

$text-normal: #dcddde;
$text-channel: #8e9297;
$text-subtext: #72767d;
$text-input-bg: #303339;
$text-input-border: #222428;
$text-input-border-hover: #040405;

$error: #f04747;
$lilac-light: #7289da;
$lilac: #677bc4;
$lilac-dark: #5b6eae;

$delimiter: hsla(0, 0%, 100%, 0.06);

$text-btn: $white;

$header-primary: $white;
$header-secondary: #b9bbbe;

$box-bg: #36393f;

$loader-bg: #2f3136;

$block-bg: #36393f;

$btn-add: #43b581;

$text-chat-icon-bg: #4f545c;

$sidebar-bg: #202225;
$sidebar-bg-alt: #292b2f;
$sidebar-secondary-bg: #2f3136;

$scrollbar: #202225;
$scrollbar-bg: $sidebar-secondary-bg;

$channeltextarea-background: #40444b;

$channel-selected: rgba(79, 84, 92, 0.32);
$channel-hover: rgba(79, 84, 92, 0.16);
$elevation-down: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
  0 2px 0 rgba(4, 4, 5, 0.05);

$background-modifier-accent: hsla(0, 0%, 100%, 0.06);

$user-hover: $channel-hover;
