@import "./vars";

html,
body {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./shared";

// login and register pages
@import "./components/auth";
@import "./components/button";
@import "./components/text-field";

// home page
@import "./components/home";
@import "./components/servers";
@import "./components/channels";
@import "./components/user";
@import "./components/person";
@import "./components/header";
@import "./components/messages";
@import "./components/members";
@import "./components/not-found-servers";

// modals
@import "./components/modal";

// loader
@import "./components/loader";
